.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  flex-wrap: wrap;
}

.img1 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img2 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img3 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img4 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img5 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img6 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}


.img7 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img8 {
  margin: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.img1:hover {
  transform: scale(1.2);
}

.img2:hover {
  transform: scale(1.2);
}

.img3:hover {
  transform: scale(1.2);
}

.img4:hover {
  transform: scale(1.2);
}

.img5:hover {
  transform: scale(1.2);
}

.img6:hover {
  transform: scale(1.2);
}

.img7:hover {
  transform: scale(1.2);
}

.img8:hover {
  transform: scale(1.2);
}

.header {
  background-image: url(./img/ami.jpg);
  background-repeat: no-repeat;
  background-size: 1670px;
  margin: 0px;
  background-position: 150px 0px;
  background-color: skyblue;
}

.title {
  color: red;
  margin: 0px;
  text-align: center;
  font-size: 65px;
}

.title:hover {
  transition: 1s ease;
  transform: scale(1.2);
}